# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

.DS_Store

# Dotenv file
.env

report.txt

output.txt

/node_modules/

broadcast